.logo {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  margin-bottom  : 95px;

  @media (max-width:theme('screens.sm')) {
    margin-bottom: 40px;
  }
}

.form {
  width: 100%;

  @media (min-width:theme('screens.sm')) {
    width        : 436px;
    max-width    : 100%;
    padding      : 32px 48px;
    background   : #fff;
    border-radius: 36px;

  }
}

.wrapper {
  padding              : 100px 15px;
  background           : linear-gradient(180deg, #FFF 20.00%, #E4E8F8 100%);
  background-attachment: fixed;

  @media (max-width:theme('screens.sm')) {
    padding: 40px 15px;

  }

}