@import '@qpokychuk/fonts/inter/index.css';

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/dist/backdrop.css';
@import 'tippy.js/animations/shift-away.css';
@import '@ui/index.scss';

:root {
  --font-base: 'Inter', Arial, Helvetica, sans-serif;
}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;

  font-family: var(--font-base);

  * {
    outline: none;
  }
}

.root {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
}